<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Point_Of_Sales.Properties.Settings.dbpointofsaleConnectionString"
            connectionString="Data Source=DESKTOP-HQ68A96\SQLEXPRESS;Initial Catalog=dbpointofsale;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>